[submodule "sources/arbiter"]
	path = sources/arbiter
	url = https://github.com/verdikta/verdikta-arbiter.git
[submodule "sources/dispatcher"]
	path = sources/dispatcher
	url = https://github.com/verdikta/verdikta-dispatcher.git
[submodule "sources/apps"]
	path = sources/apps
	url = https://github.com/verdikta/verdikta-applications.git
[submodule "sources/common"]
	path = sources/common
	url = https://github.com/verdikta/verdikta-common.git
